<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Projeto Site</title>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>

<body id="page-top">
    <!-- div do navegação -->
    <nav class="navbar">
        <div class="container">
            <a class="navbar-brand" href="#page-top">
                <img src="{{ url_for('static', filename='img/logo2.jpg') }}" alt="Logo" class="navbar-logo" />
                Colegio benedicto
            </a>
            <ul class="navbar-nav">
                <li><a class="nav-link" href="#portfolio">Notas</a></li>
                <li><a class="nav-link" href="#about">faltas</a></li>
                <li><a class="nav-link" href="#contact">sobre</a></li>
            </ul>
        </div>
    </nav>

    <!-- boas vindas/titulo -->
    <header class="masthead">
        <div class="container">
            <div class="masthead-content">
                <div class="masthead-branding">
                    <img src="{{ url_for('static', filename='img/digital.png') }}" alt="Logo Digital" class="masthead-avatar" />
                    <div class="masthead-title-group">
                        <h1 class="masthead-heading">Conexão Escola</h1>
                        <hr>
                        <p class="masthead-subheading">Engajar para transformar</p>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- seção de notas-->
    <section class="portfolio" id="portfolio">
        <div class="container">
            <h2 class="text-center text-secondary">Seus dados</h2>
            <div class="divider-custom">
                <div class="divider-custom-line-nota"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line-nota"></div>
            </div>
            <div class="notas-grid">
                <div class="notas-card">
                    <img src="{{ url_for('static', filename='img/nota.png') }}" alt="Notas" />
                    <h1>Notas</h1>
                </div>
                <div class="notas-card">
                    <img src="{{ url_for('static', filename='img/Faltas.png') }}" alt="Faltas" />
                    <h1>Faltas</h1>
                </div>
                <div class="notas-card">
                    <img src="{{ url_for('static', filename='img/classroom.png') }}" alt="Classroom" />
                    <h1>Classroom</h1>
                </div>
            </div>
        </div>
    </section>

    <!-- Seção Sobre -->
    <section id="about">
        <div class="container">
            <h2 class="text-center text-secondary">Sobre</h2>
            <p class="text-center">seção do sobre do site aqui</p>
        </div>
    </section>

    <!-- rodapé -->
    <footer class="footer">
        <div class="container">
            <h2 id="about h2">Criadores</h2>
        </div>
    </footer>
    <!-- Copyright -->
    <div class="copyright">
        <p>&copy; 2026 Projeto Site. Todos os direitos reservados.</p>
    </div>
</body>

</html>