<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>ProjetoSite(EM CONSTRUÇÃO)</title>
    <link rel="shortcut icon" href="{{url_for('static',filename='img/engrenagem.png')}}" type="image/png">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>

<body id="page-top">
    <!-- div do navegação -->
    <nav class="navbar">
        <div class="container">
            <a class="navbar-brand" href="#page-top">
                <img src="{{ url_for('static', filename='img/logo2.jpg') }}" alt="Logo" class="navbar-logo" />
                <span class="brand-text">Colegio benedicto</span>
            </a>
            <button class="navbar-toggle" type="button" aria-label="Abrir menu">&#8230;</button>
            <ul class="navbar-nav" id="navbarMenu">
                <li><a class="nav-link" href="#portfolio">Dados</a></li>
                <li><a class="nav-link" href="#about">Sobre</a></li>
                <li><a class="nav-link" href="#contact">Criadores</a></li>
                <li><a class="nav-link-logout" href="{{ url_for('logout') }}">Sair</a></li>
            </ul>
        </div>
    </nav>

    <!-- boas vindas/titulo -->
    <header class="masthead">
        <div class="container">
            <div class="masthead-content">
                <div class="masthead-branding">
                    <img src="{{ url_for('static', filename='img/digital.png') }}" alt="Logo Digital"
                        class="masthead-avatar" />
                    <div class="masthead-title-group">
                        <h1 class="masthead-heading">Conexão Escola</h1>
                        <hr>
                        <p class="masthead-subheading">Engajar para transformar</p>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- seção de notas-->
    <section class="portfolio" id="portfolio">
        <div class="container">
            <h2 class="text-center text-secondary">Seus dados</h2>
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <div class="notas-grid">
                <div class="notas-card" data-section="notas">
                    <img src="{{ url_for('static', filename='img/nota.png') }}" alt="Notas" />
                    <h3>Notas</h3>
                </div>
                <div class="notas-card" data-section="faltas">
                    <img src="{{ url_for('static', filename='img/Faltas.png') }}" alt="Faltas" />
                    <h3>Faltas</h3>
                </div>
                <div class="notas-card" data-section="classroom">
                    <img src="{{ url_for('static', filename='img/classroom.png') }}" alt="Classroom" />
                    <h3>Classroom</h3>
                </div>
            </div>
        </div>
    </section>

    <!-- Seção Sobre -->
    <section id="about">
        <div class="container">
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <h2 class="text-center text-secondary">Sobre</h2>
            <p class="text-center">seção do sobre do site aqui </p>
            <p class="text-center">(EM CONSTRUÇÃO)</p>
        </div>
    </section>

    <!-- rodapé -->
    <footer class="footer" id="contact">
        <div class="container">
            <h2>Criadores</h2>
        </div>
    </footer>
    <!-- Copyright -->
    <div class="copyright">
        <p>&copy; 2026 Projeto Site. Todos os direitos reservados.</p>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>